@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-secondary: #10b981;
  --color-background: #f0f9f4;
  --color-surface: rgba(255, 255, 255, 0.8);
  --color-text-primary: #064e3b;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1200px; /* For Large Screen(4K ) */
}
